		body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
			margin: 0; padding: 0; border: 0;
		}
		section.main {
			margin: 150px;
			width: 720px;
			height: 320px;
			background: #3B3B3B;
			border-radius: 10px;
		}
		section.login {
			width: 100%;
			height: 70px;
			background-color: #323232;
			color:#fff; 
			font-family: Calibri , Verdana; font-size: 28px;
			text-transform: small-caps;
			border-radius: 10px;
		}
		section img {
			margin: 5px;
			border: none;
			float:left;
		}
		section.login span {
			position: relative; top:20%; left: 0%;
			float:left;
		}
		section.login form {
			position: relative; top:15%; left: 0%;
			float:left;
		}
		section.login form input {
			height: 24px;
			margin-left: 18px;
		}
		section img:last-of-type {
			position: relative; left:3%; top:13%;
		}
		article {
			font-family: Calibri;
			margin: 0.8em;
		}
		article header h2 {
			color: #FFDD15;
		}
		article p {
			color: #8B8B8B;
			font-size: 18px;
			margin-top: 1em;
			word-wrap: break-word;
		}
		article span {
			color: #FFF;
		}